body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

/* Navbar */

.navbar{
    background: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

.logo{
    font-size: 20px;

}
.search{
    display: flex;
}

.search input{
    padding: 8px;
    width: 300px;
}

/* Navigation links */

.nav-links{
    display: flex;
    gap: 20px;
}

/* Hero section */
.hero{
    background: url("https://picsum.photos/1200/300") center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

/* Products grid */
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product{
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;

}

.product img{
    width: 100%;
}

